/* style.css */
body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    max-width: 70%;
    /* vertical-align: middle; */
}

h2 {
    color: black;
    vertical-align: left;
}

#hr {
    /* position: absolute; */
    top: 230px;
}

label {
    font-size: large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px
}

li {
    border: 1px solid #AC1575;
    background-color: aliceblue;
    max-width: 19vw;
    border-radius: 10px; 
}

#searchContainer {
    position: absolute;
    background-image: url('https://arthive.net/res/media/img/ox800/work/a1e/265669.webp');
    height: 25vh;
    width: 800px;
    left:50%;
    margin-left: -400px;
    text-align: center;
}

#resultsContainer {
    width: 25vw;
    height: 60vh;
    text-align: center;
    border: 2px solid #AC1575;
    overflow: auto
}

#previewContainer {
    width: 47vw;
    text-align: center;
    overflow: hidden
}

#prevInfo {
    text-align: center
}

#listContainer {
    width: 25vw;
    height: 60vh;
    text-align: center;
    border: 2px solid #AC1575;
    overflow: auto
}

.parent {
    position:absolute;
    height: 60vh;
    width:100vw;
    top:270px
}

.child {
    display: inline-block;
    vertical-align: top;
}

#warning {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}