/* style.css */
body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

h2 {
    color: black;
}

label {
    font-size: large;
    font-weight: bold;
}

#searchContainer {
    /* position: absolute; */
    background-image: url('https://arthive.net/res/media/img/ox800/work/a1e/265669.webp');
    height: 200px;
    width: 800px;
    /* left: calc(50vw - 400px); */
}

#resultsContainer {
    width: 25%;
    text-align: center;
    border: 1px solid #AC1575;
    overflow: auto
}

#previewContainer {
    width: 49%;
    text-align: center;
    overflow: hidden
}

#prevInfo {
    text-align: left
}

#listContainer {
    width: 25%;
    text-align: center;
    border: 1px solid #AC1575;
    overflow: hidden
}

.parent {
    height: 100%
}

.child {
    display: inline-block;
    vertical-align: top;
}

#warning {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}